<div class="center jumbotron">
  <h1>Welcome to Meme It</h1>

  <h2>
    Make some cool memes!
  </h2>

  <%= link_to "Sign up now!", new_memer_registration_path, class: "btn btn-lg btn-primary" %>
<% if current_memer %>
    <%= button_to "Create Meme", new_meme_path, :class => "button medium", :method => :get %>
<% end %>
</div>
