<h1 style="margin-top:1.35em">Meme Generator</h1>

<form action="/create" method="POST">
  <label>Name</label>
  <input name= "Name" type="text"></input>
  <label>Top Text</label>
  <input name= "Top_Text" type="text"></input>
  <label>Bottom Text</label>
  <input name= "Bottom_Text" type="text"></input>
  <button type="submit">Generate Meme</button>
</form>
