<div>
  <h2>Your Meme</h2>
  <h4>Top Text</h4>
  <h3>
    <%= @new_thing.top_text %>
  </h3>
  <h4>Bottom Text</h4>
  <h3>
    <%= @new_thing.bottom_text %>
  </h3>
  <h4>User ID</h4>
  <h3>
    <%= @new_thing.Uid %>
  </h3>
</div>
