<div>
  <h2>Your Meme</h2>
  <h4>Top Text</h4>
  <h3>
    <%= @top_text %>
  </h3>
  <h4>Bottom Text</h4>
  <h3>
    <%= @bottom_text %>
  </h3>
  <h4>User ID</h4>
  <h3>
    <%= @meme_user_id %>
  </h3>
</div>
